assets/*.gif filter=lfs diff=lfs merge=lfs -text
assets/4e7ab569c1234943f1313b48070f9838173cb1d6.gif filter=lfs diff=lfs merge=lfs -text
assets/fdaba9e192d7f7023a3df355f7378f24734def29.gif filter=lfs diff=lfs merge=lfs -text
